.pageCard__header .btn-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageCard__title--icon {
    font-size: 1.90rem;
}

.pageCard__footer .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}
